/*adBox.css (min-width:769px) and (max-width:1366px)*/
@media screen and (min-width:769px) and (max-width:1366px) {

#adBox {position: relative; margin: auto; width: 950px; width: 69.546120vw; height: 426px; height: 26.625rem; background-color: #fca; margin-bottom: 50px; margin-bottom: 3.125rem;}
.indicator {position: absolute; bottom: 5%; left:50%; margin-left: -54px; margin-left: -3.953147vw; width: 108px; width: 7.906295vw; height: 28px; height: 1.75rem;}
.indicator > ul {width: 108px; width: 7.906295vw; height: 100%;}
.indicator > ul > li {float: left; width: 28px; width: 2.049780vw; height: 2.049780vw; margin-right: 12px; margin-right: 0.878477vw; background-color: rgba(405,405,405,0.5); border-radius: 100%;}
.indicator > ul > li:last-child {margin-right: 0;}
.indicator > ul > li > a {display: block; width: 100%; height: 100%; border-radius: inherit;}

.adBanner {width: 100%; height: inherit; overflow: hidden;}
.adBanner > ul {width: 300%; height: inherit;}
.adBanner > ul > li {float: left; width: 33.333333%; height: inherit; background-size: 100% 100%;}
}

