/*contentBox.css*/
@media screen and (min-width:769px) and (max-width:1024px) {
 
 #wrap {width: 100%; height: auto; background-color: #ccc;}
.introBox {margin: auto; width: 90%; height: auto; padding-top: 200px; padding-top: 12.5rem; box-sizing: border-box;}
.introBox > p {margin: auto; width: 60%; /* width: 43.923865vw; */ height: auto; min-height: 80px; min-height: 5rem; /* height: 7.320644vw; */ border: 3px solid #714E34; background-color: #FFFFF2; font-size: 1.2rem; /* line-height: 220%;  */text-align: center; margin-bottom: 100px; margin-bottom: 7.320644vw;}
.introBox > h3 {color: #fff; font-size: 2.5rem; margin-bottom: 50px; margin-bottom: 3.660322vw;}
.introBox > dl {position: relative; width: 100%; height: 300px; height: 21.961932vw;  margin-bottom: 50px; margin-bottom: 3.660322vw;}
.introBox > dl > dt { width: 50%; /* width: 36.603221vw; */ height: 100%; background-color: #faa; margin-bottom: 2rem;}
.pride_text02 > dt, .cookspot_text02 > dt {float: right;}

.introBox > dl > dd {position: absolute; z-index: 1000; top:20%; /* margin-top: -25%;  *//* margin-top: -6.25rem; */ right: 0; width: 60%; /* width: 37.481698vw; max-width: 600px; max-width: 43.923865vw; */ height: auto; min-height: 60%; /* height: 14.641288vw; */ /* background-color: rgba(197,179,160,0.5); */ margin-bottom: 2rem;  font-size: 1.1rem; color: #000; text-align: left; padding: 1rem; box-sizing: border-box; line-height: 170%; margin-top:0;}
.pride_text02 > dd, .cookspot_text02 > dd {position: absolute; left: 0; color: #fff;}

}


/*일반 pc영역---------------------------------------------------*/
@media screen and (min-width:1025px) and (max-width:1366px) { 

 #wrap {width: 100%; height: auto; background-color: #ccc;}
.introBox {margin: auto; width: 950px; width: 69.546120vw; height: auto; padding-top: 200px; padding-top: 12.5rem; box-sizing: border-box;}
.introBox > p {margin: auto; width: 600px; width: 43.923865vw; height: auto; min-height: 5rem; border: 3px solid #714E34; background-color: #FFFFF2; font-size: 1.3rem; line-height: 220%; text-align: center; margin-bottom: 100px; margin-bottom: 7.320644vw;}
.introBox > h3 {color: #fff; font-size: 2.5rem; margin-bottom: 50px; margin-bottom: 3.660322vw;}
.introBox > dl {position: relative; width: 100%; height: 300px; height: 21.961932vw; margin-bottom: 50px; margin-bottom: 3.660322vw;}
.introBox > dl > dt { width: 500px; width: 36.603221vw; height: 100%; /* background-color: #faa; */ margin-bottom: 2rem;}
.pride_text02 > dt, .cookspot_text02 > dt {float: right;}

.introBox > dl > dd {position: absolute; z-index: 1000; top:50%; /* margin-top: -100px; margin-top: -6.25rem; */ right: 0; width: 32rem; width: 37.481698vw; max-width: 600px; max-width: 43.923865vw; height: auto; max-height: 200px; max-height: 12.5rem; /* height: 200px; height: 14.641288vw; */ /* background-color: rgba(197,179,160,0.5); */ margin-bottom: 2rem;  font-size: 1.3rem; color: #000; text-align: left; padding: 1rem; box-sizing: border-box; line-height: 170%;}
.pride_text02 > dd, .cookspot_text02 > dd {position: absolute; left: 0; color: #fff;}



}