/*footBox_tablet.css*/
  @media screen and (min-width:481px) and (max-width:768px) { 
  #footBox { height: 60px; height: 3.75rem; padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;}
  address {font-size: 8px;}
}