/*footBox_mobile.css*/
@media screen and (max-width:280px) {
#footBox {height: 3.75rem; padding:0.5rem 1rem;}
address {font-size: 0.4rem; width: auto; }
.appstore {float: none;}
.playstore {float: none;}
}


@media screen and (min-width:281px) and (max-width: 480px) {
#footBox {height: 3.75rem; padding:0.5rem 1rem;}
address {font-size: 0.4rem; width: auto; max-width: 15rem; margin-top: 0.5rem;}
.appstore {float: none;}
.playstore {float: none;}
}