/*headBox_pc.css*/
@media screen and (min-width:769px) and (max-width:1024px) {
#headBox {width: 100%;}
#navigation_all {width: 100%; margin-top: 6.25rem;}
#gnb { width: 100%; height: 100%; min-height:38.75rem; background-color: #F1EEE8;}

/* #gnb {margin-top: 5rem; width: 100%; height: 100%; min-height:38.75rem; background-color: #F1EEE8;} */
.gnb_wrap { width: 100%; height: 100%; margin-top: 10rem;}
.gnb_wrap > li {float: none; margin-left: 6rem; margin-right: 0; margin-top: 3rem; position: relative;}
.gnb_wrap > li:first-child {margin-top: 0;}
.gnb_wrap > li:last-child:after {content: "*고객지원 서비스는 PC버전에서만 이용 가능합니다."; display: block; margin-top: 5rem; font-size: 16px;}

.gnb_wrap > li > a {width: auto; font-size: 20px; }
.gnb_wrap  ol {position: absolute; left: 50%; top:0;}
.gnb_wrap .membership ol {top:-1rem;}
.gnb_wrap .membership ol> li{margin-bottom: 1.5rem;}
.gnb_wrap .menu ol{left: 50%; top:-5rem; width:auto; height: auto; }
.gnb_wrap .menu ol > li{margin-bottom: 1.5rem; }
.gnb_wrap .store ol > li{width: 6.25rem;}
.gnb_wrap ol>li{float: none; margin-right: 0.5rem; background-color: #F1EEE8;}
.gnb_wrap ol>li > a {font-size: 18px;}


.unb_wrap {width: 20rem; height: 3.125rem; position: absolute; top: 8rem; left: 50%; margin-left: -10rem;}
.unb_wrap > li {float: left; width: 8.75rem; height: inherit; border: 2px solid #fff; margin-right: 2rem; }
.unb_wrap > li:nth-child(2) {margin-right: 0;}
.unb_wrap > li:last-child {display: none;}
.unb_wrap > li > a {text-align: center; line-height: 3.125rem; font-weight: bold; font-size: 18px;}

}

/*일반 pc영역---------------------------------------------------*/
@media screen and (min-width:1025px) and (max-width:1366px) {
#wrap {width: 100%; height: auto; background-color: #F1EEE8;}
.headBox_wrap{position: fixed; z-index: 1000; width: 100%;  height: 100px; height: 6.25rem;  background-color: #fff; }
#headBox { margin: auto; /* margin-top: 30px; margin-top: 1.875rem; */
  width:960px; width:70.278184vw; height: inherit; background-color: inherit; border-bottom: 1px solid #ccc;  margin-bottom: 20px; margin-bottom: 1.25rem;}

h1 {position: absolute; left: 10%; top: 50%; margin-top: -21px; width: 140px; height: 42px; height: 2.625rem;background-repeat: no-repeat; background-size: 140%; background-position: center;}

/* #gnb {margin-top: 25px;  float: right; width: auto; height: 24px; height: 1.5rem;}
#drop_menu {display: none;}
 */
/*---------------------#gnb > .gnb_wrap--------------------*/
.gnb_wrap {position: relative; float: left; width: auto; height: inherit;}
.gnb_wrap > li {float: left; margin-right: 30px; margin-right:2.196193vw; width: auto;}
.gnb_wrap > li:last-child {margin-right: 0;}
.gnb_wrap > li > a {display: block; width: 100%; height: 100%; font-size: 18px; margin-bottom: 0.5rem;}
/* .gnb_wrap > li > ol > li > a {float: left;} */
.gnb_wrap ol{position: absolute; }
.gnb_wrap ol>li{float: left; margin-right: 1rem;}
.gnb_wrap ol>li:last-child {margin-right: 0;}

/*---------------------#gnb > .unb_wrap--------------------*/
.unb_wrap {float: right; margin-left: 60px; margin-left: 4.392386vw; width: auto; height: 24px; height: 1.5rem; }
.unb_wrap > li {float: left; width: auto; height: inherit; margin-right: 10px; margin-right: 0.732064vw;}
.unb_wrap > li:last-child {margin-right: 0;}
.unb_wrap > li > a {display: block; width: 100%; height: 100%; font-size: 14px;}

}